//***********************************************************************
//*****************   Omicron configuration file   **********************
//***********************************************************************

DATA	FFL		[FFL]

PARAMETER	QRANGE		3.3166	100
PARAMETER	MISMATCHMAX	0.35

TRIGGER		SNRTHRESHOLD	8

OUTPUT	DIRECTORY		[OUTDIR]
OUTPUT	FORMAT			root
OUTPUT	VERBOSITY		0
OUTPUT  WRITEPSD		0
OUTPUT  WRITETIMESERIES		0
OUTPUT  WRITEWHITENEDDATA	0

