//***********************************************************************
//*****************   Omicron configuration file   **********************
//***********************************************************************

// USER-DEFINED
DATA	   FFL			[FFL]
OUTPUT	   DIRECTORY		[OUTDIR]

// STATIC
PARAMETER  QRANGE		3.3166	100
PARAMETER  RATEMAX		100
OUTPUT	   FORMAT		root
OUTPUT	   VERBOSITY		0
OUTPUT     WRITEPSD		0
OUTPUT     WRITETIMESERIES	0
OUTPUT     WRITEWHITENEDDATA	0

// OPTIMIZED