<html>
<head>
<title>GWOLLUM: Omicron</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="icon" type="image/x-icon" href="icon.gif" />
<link rel="shortcut icon" type="image/x-icon" href="icon.gif" />
</head>

<body>
  
  <!-- title -->
  <h3>[CHANNEL]: starts on the [DATESTART], ends on the [DATEEND]</h3>
  
  <table>
    <tr>
      <td>
	<!-- time navigation -->
      </td>
 
      <td>
	<!-- menu -->
	<table class="omicronmenu">
	  <tr>
	    <td><a href="./[CHANNEL]/plot.log.txt">plot log</a></td>
	    <td><a href="./[CHANNEL]/info.txt">trigger information</a></td>
	    <td><a href="./[CHANNEL]/">full material</a></td>
	  </tr>
	</table>

	<!-- triggers -->
	<table background="./omicronlogo.gif" style="background-repeat:no-repeat;">
	  <tr>
	    <td>
	      <pre>
Livetime:           [LIVETIME]s
Input:              [NTRIGGERS] triggers / [NCLUSTERS] clusters
Number of clusters: [NCLUSTERS0], [NCLUSTERS1], [NCLUSTERS2], [NCLUSTERS3]
Rate:               [RATE0]Hz, [RATE1]Hz, [RATE2]Hz, [RATE3]Hz
SNR thresholds:     <font color="#2B60DE">[SNR0]</font>, <font color="#0000A0">[SNR1]</font>, <font color="#00FF00">[SNR2]</font>, <font color="#FF0000">[SNR3]</font> 
Frequency range:    [FREQMIN]Hz &rarr; [FREQMAX]Hz
SNR range:          [SNRMIN] &rarr; [SNRMAX]
Loudest event:      GPS=[TIMESNRMAX], f=[FREQSNRMAX]Hz, SNR=[SNRMAX]
Clustering dt:      [DELTAT]s
	      </pre>
	    </td>
	  </tr>
	</table>
      </td>
      
      <!-- loudest event -->
      <td>
	Loudest event:<br>
	<a href="./[CHANNEL]/loudest.gif"><img src="./[CHANNEL]/loudest.gif" width="200"></a>
      </td>
   </tr>
  </table>

  <!-- plots -->
  <table class="omicronplots">
    <!-- to_remove --><tr>
      <!-- to_remove --><td colspan="2">Segments:<br/><a href="./[CHANNEL]/seg.gif"><img src="./[CHANNEL]/seg.gif" width="900"></a></td>
      <!-- to_remove --></tr>
    <tr>
      <td><a href="./[CHANNEL]/map.gif"><img src="./[CHANNEL]/map.gif" width="440"></a></td>
      <td><a href="./[CHANNEL]/rate.gif"><img src="./[CHANNEL]/rate.gif" width="440"></a></td>      
    </tr>
    <tr>
      <td><a href="./[CHANNEL]/snrtime.gif"><img src="./[CHANNEL]/snrtime.gif" width="440"></a></td>
      <td><a href="./[CHANNEL]/snrfreq.gif"><img src="./[CHANNEL]/snrfreq.gif" width="440"></a></td>      
    </tr>
    <tr>
      <td><a href="./[CHANNEL]/snr.gif"><img src="./[CHANNEL]/snr.gif" width="440"></a></td>
      <td><a href="./[CHANNEL]/freq.gif"><img src="./[CHANNEL]/freq.gif" width="440"></a></td>      
    </tr>
  </table>
  <pre>
    This page was created on: [CREATIONDATE]
  </pre>


  <!-- foot page -->
  <table valign="bottom" align="center">
    <tr>
      <td valign="bottom" align="right">
	<img src="./logo.gif" width="42">
      </td>
      <td valign="middle" align="left">
	<p>
	  Florent Robinet<br>
	  <a HREF="mailto:robinet@lal.in2p3.fr">Contact: robinet@lal.in2p3.fr</a>
	</p>
      </td>
    </tr>
  </table>
  
</body>
</html>
